$white: #FFF;
$light-gray: #A4A7BD;
$extra-light-gray: #d2d4e2;
$extra-light-blue: #F8F9FD;
$blue: #3661ED;
$washed-blue: #535a76;
$golden: #DAA520;
$dark-blue: #1E2E48;
$dark-gray: #3F3F3F;
$light-green: #DFFAEF;
$dark-green: #105E27;
$light-red: #FDEEEC;
$dark-red: #B10000;