@import 'src/modules/styles/colors.module';
@import 'src/modules/styles/card';

.performanceGraphWrapper {
  &__labelsWrapper {
    display: flex;
    align-items: center;
  }

  &__viewCountLabel,
  &__completionCountLabel {
    font-size: 10px;
    color: $dark-blue;
    font-weight: 500;

    &:before {
      content: '';
      border-radius: 50%;
      height: 6px;
      width: 6px;
      display: inline-block;
      margin-right: 7px;
    }
  }

  &__viewCountLabel {
    margin-right: 25px;

    &:before {
      background-color: $blue;
    }
  }

  &__completionCountLabel {
    &:before {
      background-color: $light-gray;
    }
  }

  &__graph {
    max-height: 300px;
  }
}