@import 'src/modules/styles/colors.module';
@import 'src/modules/styles/card';

.performanceGraphWrapper {
  &__labelsWrapper {
    display: flex;
    align-items: center;
  }

  &__viewCountLabel {
    margin-right: 12px;
  }

  &__graph {
    height: 100% !important;
  }
}