@import "src/modules/styles/colors.module";

.statusBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 500;
  width: fit-content;

  &.statusLive {
    background-color: $light-green;
    color: $dark-green;

    .statusBadge__bullet {
      background-color: $dark-green;
    }
  }

  &.statusDisabled {
    background-color: rgba($extra-light-gray, .4);
    color: $dark-gray;

    .statusBadge__bullet {
      background-color: $dark-gray;
    }
  }

  &__bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
  }

  &__status {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}