@import "src/modules/styles/colors.module";

.userProfileIcon {
  border: 1px solid $light-gray;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: $washed-blue;
    margin-bottom: 1px;
  }
}

.userProfileProgress {
  position: relative;

  &__rail,
  &__bar {
    position: absolute;
    fill: none;
  }

  &__rail {
    z-index: 1;

    & > circle {
      stroke: rgba($dark-blue, .5);
      stroke-width: .5px;
    }
  }

  &__bar {
    transform: rotate(-90deg);
    z-index: 2;

    & > circle {
      stroke: $blue;
      stroke-linecap: butt;
      transition: stroke-dashoffset .8s ease-in-out;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-blue;
  }
}