@import "src/modules/styles/colors.module";

.changeBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  border-radius: 15px;
  width: 45px;
  font-size: 11px;
  font-weight: 500;

  &.changeBadgeIncrease {
    background-color: $light-green;
    color: $dark-green;
  }

  &.changeBadgeDecrease {
    background-color: $light-red;
    color: $dark-red;
  }

  &__increaseArrow {
    transform: rotate(45deg);
    margin-bottom: 1px;
    margin-left: 2px;
  }

  &__decreaseArrow {
    transform: rotate(-45deg);
    margin-left: 2px;
  }
}