@import "src/modules/styles/colors";

.tabsGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &:nth-last-of-type(2) {
  }

  &__tabsList {
    width: 100%;
  }

  &__groupTitle {
    color: $light-gray;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 12px;
  }

  &__tabListElement {
    list-style: none;
    display: flex;
    align-items: center;
  }
}