.userProfileIcon {
  width: 32px;
  height: 32px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: var(--washed-blue);
    margin-bottom: 1px;
  }
}