@import "src/modules/styles/colors.module";

.userProfileIcon {
  border: 1px solid $light-gray;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: $washed-blue;
    margin-bottom: 1px;
  }
}

.userProfileProgressWrapper {
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background .25s ease-in-out;

  &__inner {
    background-color: $extra-light-blue;
    border: 1px solid $extra-light-gray;
    box-sizing: content-box;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  &__iconProgress {
    margin-bottom: 2px;
    fill: $dark-blue;
    z-index: 2;
  }

  &__firstLetter {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 24px;
  }
}