.sidenav {
  padding: 25px 0 50px 25px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--white);
  width: 230px;
  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
  }
}