@import "src/modules/styles/colors.module";
@import "src/modules/styles/sidenav";
@import "src/modules/styles/card";

.sidenav {
  padding: 25px 0 50px 25px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $white;
  width: $sidenav-width;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @include card-background();

  &__logo {
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
  }
}